{
    "env": {
        "browser": false,
        "es6": true,
        "jest": true,
        "node": "ts-node"
    },
    
    "rules": {
        "no-console": "off",
        "import/extensions": [0, { "<js>": "always" }],
        "prefer-destructuring": ["error", {
            "VariableDeclarator": {
              "array": false,
              "object": false
            }
          }, {
            "enforceForRenamedProperties": false
          }]
    },
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
          }
        }
    }
    
}